In [1]:
print("Hello World")

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [5]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [7]:
print("C:\Windows")

C:\Windows

In [8]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [11]:
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [12]:
print("naver/kakao/sk/samsung")
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung
naver/kakao/sk/samsung

In [13]:
print("first",end="");print("second")

firstsecond

In [14]:
print(5/3)

1.6666666666666667

In [15]:
samsung= 50000
총평가금=50000*10
print(총평가금)

500000

In [16]:
시사총액=298000000000000
현재가=50000
PER=15.79
print(시사총액)

298000000000000

In [18]:
s="hello"
t="python"
print(f'{s}! {t}')

hello! python

In [19]:
a="132"
print("a",type(a))

a <class 'str'>

In [21]:
num_str="720"
num_int=int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [22]:
num=100
num_str=str(num)
print("num_str의 자료형은 ",type(num_str))

num_str의 자료형은  <class 'str'>

In [23]:
Str1="15.79"
Str1_float=float(Str1)
print(Str1_float+1,type(Str1_float))

16.79 <class 'float'>

In [24]:
year="2020"
year_int=int(year)
print(f'연도: {year_int-3}')
print(f'연도: {year_int-2}')
print(f'연도: {year_int-1}')

연도: 2017
연도: 2018
연도: 2019

In [25]:
air=48584
print(f'총 금액: {air*36}')

총 금액: 1749024

In [29]:
letters='python'
print(letters[0],letters[2])

p t

In [34]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [2]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [3]:
string = "PYTHON"
print((string[::-1]))

NOHTYP

In [4]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")

'010 1111 2222'

In [5]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [6]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [8]:
string = 'abcdfe2a354a32a'
string=string.replace("a","A")
print(string)

Abcdfe2A354A32A

In [9]:
print("-"*80)

--------------------------------------------------------------------------------

In [10]:
t1 = 'python'
t2 = 'java'
t3=t1+" "+t2+" "
print(t3*3)

python java python java python java

In [13]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d"%(name1,age1))
print("이름: {} 나이: {}".format(name1,age1))
print(f'이름: {name1} 나이: {age1}')

이름: 김민수 나이: 10
이름: 김민수 나이: 10
이름: 김민수 나이: 10

In [14]:
상장주식수 = "5,969,782,550"
상장주식수_1=상장주식수.replace(",","")
상장주식수_int=int(상장주식수_1)
print(상장주식수_int)

5969782550

In [15]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [16]:
data = "   삼성전자    "
data_1=data.strip()
print(data_1)

삼성전자

In [18]:
ticker = "btc_krw"
ticker_1=ticker.upper()
print(ticker_1)

BTC_KRW

In [19]:
ticker=ticker_1.lower()
print(ticker)

btc_krw

In [22]:
a="hello"
a_1=a.capitalize()
a_1

'Hello'

In [26]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [27]:
file_name.startswith("2020")

False

In [29]:
a = "hello world"
a=a.split(" ")
a

['hello', 'world']

In [31]:
ticker = "btc_krw"
ticker=ticker.split("_")
ticker

['btc', 'krw']

In [34]:
data = "2020-05-01"
data=data.split("_")
print(data)

['2020-05-01']

In [35]:
data = "039490     "
data=data.rstrip()
data

'039490'

In [2]:
movie_Rank=["닥스","스플릿","럭키"]
print(movie_Rank)

['닥스', '스플릿', '럭키']

In [5]:
movie_Rank.append("batman")
print(movie_Rank)

['닥스', '스플릿', '럭키', 'batman', 'batman', 'batman']

In [9]:
movie_Rank.insert(1,"superman")

TypeError: list.append() takes exactly one argument (2 given)

In [8]:
print(movie_Rank)

['닥스', 'superman', '스플릿', '럭키', 'batman', 'batman', 'batman']

In [10]:
movie_Rank.remove("럭키")
print(movie_Rank)

['닥스', 'superman', '스플릿', 'batman', 'batman', 'batman']

In [16]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [17]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [19]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

In [20]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [23]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [25]:
nums = [1, 2, 3, 4, 5]
average=sum(nums)/len(nums)
print(average)

3.0

In [27]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [35]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [37]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [38]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [41]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest[:])
print(" ".join(interest))

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [42]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [43]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [45]:
string = "삼성전자/LG전자/Naver"
string= string.split("/")
print(string)

['삼성전자', 'LG전자', 'Naver']

In [47]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [49]:
my_variable=()
print(type(my_variable))

<class 'tuple'>

In [50]:
movie=("닥스","스플릿","럭키")

In [54]:
nums=(1)
print(nums)

1

In [57]:
t = ('a', 'b', 'c')
print(t[0],t[1],t[2])
t1=('A','b','c')
print(t1[0],t1[1],t1[2])

a b c
A b c

In [61]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data=list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [62]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data=tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [1]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# apple banana cake

apple banana cake

In [3]:
data=tuple(range(2,100,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [12]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)
######

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [9]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,b,*valid_score, _, _= scores
print(valid_score)
######

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,*valid_score, _, _= scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [18]:
temp={}
print(type(temp))

<class 'dict'>

In [20]:
ice={"메로나":1000,"폴라포":1200,"빵빠레":1800}
ice["죠스바"]= 1200
ice["월드콘"]=1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [22]:
print(f'메로나의 가격 : {ice["메로나"]}')

메로나의 가격 : 1000

In [24]:
ice["메로나"]=1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [27]:
del ice["메로나"]
print(ice)

KeyError: '메로나'

In [32]:
inventory={"메로나": [300,20],"비비빅":[400,3],"죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [37]:
print(f'메로나 가격 : {inventory["메로나"][0]}')

메로나 가격 : 300

In [39]:
print(f'메로나 가격 : {inventory["메로나"][1]}')

메로나 가격 : 20

In [42]:
inventory["월드콘"]=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [45]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream_lst=list(icecream.keys())
print(icecream_lst)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [47]:
icecream_lst=list(icecream.values())
print(icecream_lst)

[1200, 1200, 1800, 1500, 1000]

In [49]:
print(sum(icecream.values()))

6700

In [51]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [56]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result= dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [60]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_talbe=dict(zip(date,close_price))
print(close_talbe)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [64]:
a=int(input("입력값 : "))
a+=20
if a>=255:
    print(255)
else:
    print(a)

입력값 : 10
30

In [5]:
a=input("입력하세요 >> ")
print(a*2)

입력하세요 >> z
zz

In [6]:
a=int(input('입력하세요 정수를 >> '))
print(a+10)

입력하세요 정수를 >> 1
11

In [10]:
a=int(input('입력하세요 정수를 >> '))
if a%2==0:
    print('짝수')
else:
    print('홀수')

입력하세요 정수를 >> 0
짝수

In [11]:
a=input('시간을 입력하세요  >> ')
if a[-2:]=='00':
    print('정각입니다')
else:
    print('정각이 아닙니다')

시간을 입력하세요  >> 1200
정각입니다

In [13]:
b= ['사과','배','포도','딸기']
a=input('과일 입력 >> ')
if a in b:
    print('정답')
else:
    print('오답')

과일 입력 >> 귤
오답

In [15]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a= input("종목 입력")
if a in warn_investment_list:
    print('경고종목')
else:
    print('x')

종목 입력Google
경고종목

In [20]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a=input('계절입력 >> ')
if a in fruit:
    print('정답')

계절입력 >> 봄

TypeError: dict.values() takes no arguments (1 given)

In [21]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a=input('과일입력 > ')
if a in fruit.values():
    print('정답')

과일입력 > 딸기
정답

In [24]:
Los='a'
K=Los.upper()
K

'A'

In [25]:
a=int(input("점수 입력 > "))
if 81<=a<=100:
    print('A')
elif 61<=a<=80:
    print('B')
elif 41<=a<=60:
    print('C')
elif 21<=a<=40:
    print('D')
else:
    print('E')

점수 입력 > 33
D

In [29]:
a=input('주번 입력 > ')
주민번호=a.split("-")[1]
주민번호[0]
if 주민번호[0]=='1' or 주민번호[0]== '3':
    print('남자입니다')
else :
    print('여자입니다')

주번 입력 > 123456-123456
남자입니다

In [1]:
변수="A"
변수=변수.lower()
print(변수)

a

In [5]:
for i in [10,20,30]:
    print(f'{i}\n-----------')

10
-----------
20
-----------
30
-----------

In [6]:
for i in ['++++',10,20,30]:
    print(i)

++++
10
20
30

In [8]:
for i in range(0,4):
    print('-----------')

-----------
-----------
-----------
-----------

In [3]:
num1=10
num2=7
print(num1//num2)

1

In [ ]:
money=int(input("money입력"))

if money>=10000:
    print('take a taxi')
    
else:
    print('take a bus')

In [7]:
num=int(input("입력"))

if num%15==0:
    print('a')
else:
    print('b')

입력3
b

In [18]:
mask=int(input('마스크 개수'))
ei=fi=n=0

if mask>=8:
    ei=mask//8
    fi=(mask%8)//5
    n= mask%8%5
    if n !=0:
        fi+=1 

else:
    fi=mask//5
    n=mask%5
    if n!=0:
        fi+1
print(f'{ei},  {fi}')

마스크 개수17
2,  1

In [20]:
a=int(input("dlqfur"))
b=int(input("dlqfur"))

if a>b:
    print(f'1번정수 {a}가 더 큽니다')
elif a<b:
    print(f'2번 정수 :{b}가 더 큽니다')
else:
    print('둘다 같다')

dlqfur5
dlqfur7
7가 더 큽니다

In [21]:
dic_test={'노래제목':'라일락','가수':'아이유','날짜':'2021.03.26'}
dic_test

{'노래제목': '라일락', '가수': '아이유', '날짜': '2021.03.26'}

In [22]:
del dic_test['노래제목']
dic_test

{'가수': '아이유', '날짜': '2021.03.26'}

In [23]:
dic_test['가수']

'아이유'

In [24]:
dic1={'name':'sw','age':'26','phone':'010-1234-5678','birth':'02/28'}

In [28]:
for i in dic1.items():
    print(i)

('name', 'sw')
('age', '26')
('phone', '010-1234-5678')
('birth', '02/28')

In [29]:
'name' in dic1

True

In [30]:
def sum1(num1,num2):
    result=num1+num2
    return result

a=int(input(" number "))
b=int(input(" number2 "))

result=sum1(a,b)
result

 number 1
 number2 2

3